---
import { t, l, astroI18n } from "astro-i18n";
import Layout from "../layouts/base.astro";

// get all HP sections from the src/data/HP directory
const allSections = await Astro.glob("../data/HP/**/*.md");

// filter sections against the current locale
const localizedSections = allSections.filter((section) => {
	return section.frontmatter.lang === astroI18n.langCode;
});
---

<Layout>
	<h1>{t("index.title")}</h1>
	<p>{t("index.currentLocale")} {astroI18n.langCode}</p>

	<hr>
	<h2>Filtered in frontmatter</h2>
	<p>Will not render the correct translations.</p>
	{
		localizedSections.map((section) => (
			<section.Content/>
		))
	}
	<hr />
	<h2>Filtered directly in astro</h2>
	<p>Will render everything perfectly.</p>
	{
		allSections.map((s) => {
			if (s.frontmatter.lang === astroI18n.langCode) {
				return (
					<s.Content/>
				)
			}
		})
	}
</Layout>
