---
import { I18nProvider } from "astro-i18n/components";
import Header from "../components/Header.astro";
---
<I18nProvider>
	<!-- 'dir' attribute will be removed when 'I18nProvider' wraps the html -->
<html dir="ltr">
		<head>
			<meta charset="utf-8" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="viewport" content="width=device-width" />
			<title>Astro</title>
		</head>
		<body>
			<!-- tried removing the header but no change -->
			<Header />
			<main>
				<slot />
			</main>
		</body>
		</html>
	</I18nProvider>
