---
import { astroI18n } from "astro-i18n"
astroI18n.init(Astro)

import Header from "../components/Header.astro";
---

	<html lang={astroI18n.langCode} dir="ltr">
		<head>
			<meta charset="utf-8" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="viewport" content="width=device-width" />
			<title>Astro</title>
		</head>
		<body>
			<Header />
			<main>
				<slot />
			</main>
		</body>
	</html>