---
import { I18nProvider } from "astro-i18n/components";
import { astroI18n } from "astro-i18n";
import LangSwitcher from "../components/LangSwitcher.astro";
---

<html lang={astroI18n.langCode}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<I18nProvider>
		<body>
			<header>
				<LangSwitcher />
			</header>
			<main>
				<slot />
			</main>
		</body>
	</I18nProvider>
</html>
