---
import { I18nProvider } from "astro-i18n/components";
import Header from "../components/Header.astro";
---

<html dir="ltr">
		<I18nProvider>
		<head>
			<meta charset="utf-8" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="viewport" content="width=device-width" />
			<title>Astro</title>
		</head>
		<body>
			<Header />
			<main>
				<slot />
			</main>
		</body>
	</I18nProvider>
	</html>
